@import "tailwindcss";

:root {
  --app-font-scale: 1;
}

html {
  font-size: calc(16px * var(--app-font-scale));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}



@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInDown {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
